@charset "UTF-8";
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 95vh;
}

#tel{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    max-width: 300px;
    max-height: 600px;
}
#redes{
    text-align: center;
}
#redes img{
    display: inline-block;
    max-width: 80px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.641);
    box-sizing: border-box;
}
#redes img:hover{
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.526);
    max-width: 75px;
    margin: 12.5px;
    transition: 0.3s;
}

iframe{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50.5%);
    width: 255px;
    height: 453px;
}