*{
    list-style-type: none;
}
#section-filtro{
    background-color: var(--cor2);
    padding-bottom: 1vh;
    height: auto;
}
#section-filtro > #menus{
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.500);
    justify-content: center;
}
#section-filtro a{
    font-size: 1.5em;
    color: var(--cor4);
    background-color: var(--cor2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    margin: 10px;
}
#section-filtro a:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}
#section-filtro a:active{
    background-color: var(--cor4);
}
#filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    justify-content: space-around;
    border-radius: 20px;
    transition: 0.3s;
    height: auto;
    padding: 0px;
    max-height: 100vh;
}

#genero, #tam, #tipo{
    height: auto;
    max-height: 0vh;
    overflow-y: hidden;
    transition: 0.3s;
    background-color: var(--cor1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    border-radius: 0px 0px 10px 10px;
    width: 70%;
}

h2{
    text-align: center;
    color: var(--cor4);
    width: 100%;
    margin: 1vh auto;
    cursor: pointer;
}
h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor3);
    margin-top:1vh;
    background-color: var(--cor1);
    border-radius: 10px;
    width: 70%;
    height: 5vh;
    cursor: pointer;
    text-indent: 1vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
}
#seta-top{
    transform: rotate(-90deg);
    transform-origin:center center;
    transition: 0.2s;
    margin-left: 0.5vh;
    border-radius: 50%;
    font-size: 0.6em;
    color: var(--cor4);
}
#masc, #inf, #fem{
    display: none;
    height: auto;
}

span.seta-filtros{
    transform: rotate(-90deg);
    transition: 0.2s;
    font-size: 2vh;
    margin-right: 1vw;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 70%;
}
.botao-filtro{
    padding: 1vh;
    border-radius: 10px;
    color: var(--cor5);
    background-color: var(--cor1);
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    margin: 2vh 1vh 0vh 1vh;
    transition: 0.3s;
}
.botao-filtro:hover{
    background-color: var(--cor4);
    color: var(--cor1);
}
input[type = checkbox], input[type = radio]{
    white-space:nowrap;
    margin: 1vh 0.5vh 1vh 1vh;
    cursor: pointer;
}
label{
    cursor: pointer;
}
#filtro-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor4);
    margin: auto;
    width: 70%;
    padding: 0.5vh;
    border-radius: 10px;
}
#filtro-text > input{
    width: 85%;
}
#filtro-text > span{
    color: var(--cor1);
    width: 10%;
}
#conteudo > ul{
    display: flex;
    max-width: 450px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
#conteudo > ul > li{
    height: 40vh;
    border-radius: 10px;
    background-color: var(--cor1);
    flex: 1 1 40%;
    max-width: 40%;
    text-align: center;
    margin: 10px;
    display: block;
}
#conteudo li p{
    margin: 0.5vh 0px;
    font-size: 2vh;
    color: var(--cor5);
}
#conteudo li .preco{
    font-weight: bold;
    font-size: 2.5vh;
}
#conteudo li > img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 70%;
}
#conteudo li > .info{
    padding: 5px;
    height: 30%;
    width: 100%;
}

@media screen and (orientation: landscape){
    #section-filtro{
        padding-bottom: 1vw;
    }
    #seta-top{
        transform: rotate(90deg);
        font-size: 3vw;
        
    }
    #filtro{
        max-height: 100vw;
    }
    h3{
        height: 5vw;
        min-height: 30px;
        max-height: 40px;
        margin-top: 5px;
    }
    span.seta-filtros{
        font-size: 0.8em;
    }
    .botao-filtro{
        padding: 1vw;
        margin: 2vw 1vw 0vh 1vw;
    }
    #filtro-text{
        padding: 0.5vw;
        width: 50%;
    }
    #conteudo > ul > li{
        height: 40vw;
        flex: 1 1 35%;
        max-width: 35%;
    }
    #conteudo li p{
        font-size: 0.6em;
    }
    #conteudo li .preco{
        font-size: 1em;
    }
}