header{
    height: 10vh;
}
header > div{
    height: 100%;
}
main{
    background-color: var(--cor3);
    padding: 10px;
    height: 90vh;
    min-height: auto;
}
main > section{
    width: 95%;
    max-width: 500px;
    margin: auto;
    border: 1px solid var(--cor5);
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 20px;

}
main > section > h2{
    color: var(--cor5);
    font-size: 2em;
    text-align:center;
    
}
main > section > p{
    margin-top: 10px;
    color: var(--cor4);
    text-indent: 20px;
    text-align:justify;
    
}

@media screen and (orientation: landscape) {
    header{
        height: 10vw;
    }
    
}