
@font-face {
    font-family: 'Android';
    src: url("fontes/idroid.otf") format(opentype);
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
}
:root{
    --cor-fundo: #95CCB3;
    --cor1: #859990;
    --cor2: #87FFC9;
    --cor3: #446657;
    --cor4: #183327;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-inicial: 'Bebas Neue';
    --Android: 'Android';
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor-fundo);
    margin: 0px;
    font-family: var(--fonte-padrao);
}
header{

    background-color: var(--cor4);
    margin:0px;
    padding: 20px 20px 15px 20px;
    min-width: 320px;
}
header > h1{
    text-align: center;
    font-family: var(--fonte-inicial);
    color: white;
    font-size: 3em;
    text-decoration: none;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.428);
    margin: 10px auto 20 auto;
    min-width: 320px;
}
header > h2{
    text-align: center;
    
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.428);
    margin: 10px auto 20px auto;
    min-width: 320px;
    max-width: 600px;
    
}
nav > a{
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
}

main{
    max-width: 1200px;
    min-width: 320px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 8px 11px 0px rgba(0, 0, 0, 0.366);

}
main > article > section > h1{
    font-family: 'Android';
    text-align: center;
    color: var(--cor4);
    font-size: 2em;
    margin: 10px auto 20px auto;
}
main > article> section > h2{
    font-family: 'Android';
    background-image: linear-gradient(to right, var(--cor3) ,white 80%);
    color: white;
    padding: 2px 5px 5px 10px;
    border-radius: 10px 0px 0px 10px;
    margin: 10px auto;
}
aside{
    max-width: 800px;
    min-width: 320px;
    border-radius: 20px 0px;
    margin: 10px auto;
    border: 2px solid var(--cor3);
    padding: 10px;
}
aside > article{
    padding: 5px 15px 15px 15px;
}

aside > h2 {
    background-image: none;
    background-color: var(--cor3);
    text-indent: 10px;
    font-size: 22px;
    font-family: var(--fonte-padrao);
    color: white;
    padding: 20px;
    border-radius: 14px 0px 0px 0px;
    margin: -10px -10px 0px -10px;
}

footer{
    background-color: #2C4237;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    font-size: 25px;
    color: white;
    min-width: 320px;
}

p{
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;
    margin: 20px auto;
    line-height: 30px;
}
img{ 
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.naoresponsiva{
    max-width: 400px;
    display: block;
    margin: auto;
}
ul{
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    line-height: 25px;
    columns: 2;
    list-style-position: inside;
    list-style-type: '\27A1 ';

}

iframe{
    min-width: 380px;
    max-width: 800px;
    display: block;
    margin: 0px auto;
    border-radius: 10px;
}