/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) 

    Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

    Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

    Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

    Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/
/*CABEÇALHO ==================================*/
header{
    position: relative;
}
header #conta{
    font-size:3em;
    margin-top: 10px;
    width: auto;
}
header #sol{
    font-size: 1em;
}
header h1{
    font-size:3em;
    margin-left: 20px;
}
header #menu{
    display: none;
}
header #Nav{
    left: 0%;
    top: 0%;
    margin: auto;
    height: auto;
    width: auto;
    min-width: auto;
    max-width: 100vw;
    transition: all 0s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    position: relative;
    border-right: none;
    background-color: var(--tr1);
}

header #Nav > div{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#buttomProdutos{
    background-color: var(--cor1);
    color: var(--cor5);
}
#buttomProdutos:hover{
    background-color: var(--cor3);
    color: var(--cor2);
}
#left{
    color: var(--cor5);
}
#produtos2{
    display: none;
}
header #produtos2-absolute{
    display: block;
    background-color: var(--cor3);
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    z-index: 20;
    margin: auto;
    padding: 0px;
    position: absolute;
    white-space: wrap;
    overflow-y: hidden;
    transition: max-height 0.5s;
    max-height: 0px;
    height: auto;
    width: 160px;
    left: 50%;
    transform: translate(-50%,-5%);
}
#produtos2-absolute > a{
    display: flex;
    align-items: center;
    background-color: var(--cor1);
    position:relative;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: all 0.5s;
    height: 5vh;
    width: 90%;
    margin: 10px auto;
    text-indent: 0px;
    color: var(--cor5);
    border-radius: 10px;
    border: none;
}
#produtos2-absolute > a:hover{
    color: var(--cor1);
    background-color: var(--cor4);
    
}
header nav a{
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1.5em;
    height: 50px;
    width: 160px;
    white-space:nowrap;
    margin: 5px 10px;
    color: var(--cor5);
    border-radius: 10px;
    background-color: var(--cor1);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);
}
#Nav #left{
    font-size: 0.8em;
    transform: rotate(-90deg);
    color: var(--cor5);
    transition: 0.3s;
}
header nav a:hover{
    background-color: var(--cor3);
    color: var(--cor2);
}
header nav #login{
    position: absolute;
    display: none;
}
header > #div-bar{
    height: 35px;
    width: 300px;
    position: absolute;
    right: 80px;
    top: 26px;
}
header #div-bar > span{
    color: white;
    width: 15%;
    text-align: center;
    font-size: 2.5vh;
}
/* SEÇÃO 1 ====================================*/
#sec1{
    height: 50vh;
    min-height: 450px;
    justify-content: flex-start;
    background-image: linear-gradient(to right, var(--cor3) 2%, var(--tr1)), url(../../images/loja-mae.png);

}
#sec1 > div{
    width: 50%;
    max-width: 400px;
    height: 50%;
    margin-left: 5%;
}
#sec1 > div > h2{
    font-size: 2.5em;
}
#sec1 > div > p{
    font-size: 1.5em;
    
}
/* SEÇÃO 2 ====================================*/
#vendidos > ul{
    width: 80%;
    max-width: 600px;
}
#vendidos > ul > li{
    height: 400px;
    width: 200px;
    flex: 1 1 200px;
}
#vendidos li p{
    font-size: 1.2em;
}
#vendidos li .preco{
    font-size: 1.5em;
}
#sec2 a{
    font-size: 1.5em;
    width: auto;
    padding: 20px 10px;
    max-width: 300px;
}
/* ASIDE ====================================*/
aside{
    height: 50vh;
    min-height: 450px;
    max-height: 600px;
    width: 90vw;
    justify-content: flex-end;
}
aside > div{
    max-height: 300px;
    margin-right: 7%;
}
aside li{
    margin-top: 10px;
    font-size: 1.5em;
}
aside h2{
    font-size: 2em;
}

/* FOOTER ====================================*/
footer{
    flex-direction: row;
}
footer h2{
    font-size: 2em;
}
footer #insta{
    color: #ffffff;
}
footer #call{
    font-size: 2.5vh;
}
footer li{
    font-size: 1.3em;
}
footer img{
    width: 0.8em;
}
footer section{
    padding: 20px;
    flex: none;
    width: auto;
    max-width: 370px;
    margin-right: 10px;
    margin-left: 10px;
}


@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    #vendidos > ul{
        width: 80%;
    }
    #vendidos > ul > li{
        height: 400px;
        flex: 1 1 200px;
    }
    #vendidos li p{
        font-size: 1.2em;
    }
    #vendidos li .preco{
        font-size: 1.5em;
    }
}
